<div class="row">
  <% if videoroom.present? %>
    <div class="col-12 col-lg-10 p-0">
      <%= cl_video_tag videoroom.video.key, controls: true, crop: :fill, class:"d-block w-100" if videoroom.video.present? %>
    </div>

    <div class="col-12 col-lg-2 ps-0">
      <div class="videoroom"
          data-controller="videoroom-subscription"
          data-videoroom-subscription-videoroom-id-value="<%= videoroom.id %>"
      >

        <h4><%= videoroom.name %></h4>

        <div class="messages" data-videoroom-subscription-target="messages">
          <% videoroom.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>

        <%= simple_form_for [videoroom, @message],
          html: { data: { action: "turbo:submit-end->videoroom-subscription#resetForm" }, class: "d-flex" } do |f|
        %>
          <%= f.input :content,
            label: false,
            placeholder: "Messagem para ##{videoroom.name}",
            wrapper_html: {class: "flex-grow-1"}
          %>
          <%= f.submit "Enviar", class: "btn btn-dark mb-3" %>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
