<main>

  <div class="container videoroom"
       data-controller="videoroom-subscription"
       data-videoroom-subscription-videoroom-id-value="<%= @videoroom.id %>"
  >

    <h1><%= @videoroom.name %></h1>

    <%= cl_video_tag @videoroom.video.key, controls: true, height: 300, width: 400, crop: :fill %>

    <div class="messages" data-videoroom-subscription-target="messages">
      <% @videoroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%= simple_form_for [@videoroom, @message],
      html: { data: { action: "turbo:submit-end->videoroom-subscription#resetForm" }, class: "d-flex" } do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Messagem para ##{@videoroom.name}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Enviar", class: "btn btn-primary mb-3" %>
    <% end %>

  </div>

</main>
